webtools.sourceediting.xpath.tests/tests/org.eclipse.wst.xml.xpath2.processor.tests/bugTestFiles/bugagg_2.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:element name="root">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="x" maxOccurs="unbounded">
				   <xs:complexType>
				      <xs:attribute name="val" type="xs:integer"/>
				   </xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>