webtools.sourceediting.xpath.tests/tests/org.eclipse.wst.xml.xpath2.processor.tests/bugTestFiles/indexOf1.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="X">
    <xs:complexType>
      <xs:sequence>
         <xs:element name="a" type="xs:integer" maxOccurs="unbounded"/>
         <xs:element name="b" maxOccurs="unbounded">
            <xs:simpleType>
                <xs:union memberTypes="xs:integer xs:string"/>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
      <xs:attribute name="attr">
         <xs:simpleType>
             <xs:list itemType="xs:integer"/>
         </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>

</xs:schema>